* {
	box-sizing: border-box;
}

#main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.container {
	display: flex;
}

.box {
	text-align: center;
	height: 30px;
	width: 30px;
}

.boxes {
	width: 360px;
}

.column-headers {
	width: 390px;
}

.header {
	align-items: center;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 30px;
}

.text-center {
	text-align: center;
}

.hideme {
	visibility: hidden;
}
